@page "/Template/Edit/{TemplateId:int}"
@rendermode InteractiveServer

@attribute [Authorize]

<h3>Template Editor</h3>

Not Yet Implemented

@code {
    [Parameter]
    public int TemplateId { get; set; }
}
