@inherits LayoutComponentBase

@code {
    public bool _drawerOpen = true;
}

<MudThemeProvider IsDarkMode=true/>

<MudPopoverProvider/>

<MudDialogProvider/>

<MudSnackbarProvider/>



<MudLayout>
    <MudAppBar Color="Color.Primary" Style="p-10" >
        <MudSpacer />
        <a href="/" data-enhance-nav="false">
            <MudText Typo="Typo.h6">WoasForms</MudText>
        </a>
        <MudSpacer />
    </MudAppBar>

    <MudMainContent Class="mt-3">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
