@inherits LayoutComponentBase

@code {
    public bool _drawerOpen = true;
}

<MudPopoverProvider @rendermode="InteractiveServer" />

<MudDialogProvider @rendermode="InteractiveServer" />

<MudSnackbarProvider @rendermode="InteractiveServer" />



<MudLayout>
    <MudAppBar Color="Color.Primary" Style="p-10">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" />
        <MudSpacer />
        <TemplatesSearchBar />
        <MudSpacer />
        <a href="/" data-enhance-nav="true">
            <MudText Typo="Typo.h6">WoasForms</MudText>
        </a>
    </MudAppBar>

    <MudDrawer id="nav-drawer" Elevation="2" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Class="pa-4" data-enhance-nav="true">
        <MudStack>
            <MudButton Href="/" StartIcon="@Icons.Material.Filled.Home" Variant="Variant.Filled">Browse Templates</MudButton>
            <DrawerButtons @rendermode="InteractiveServer" />
            <ThemeToggleButton @rendermode="InteractiveServer" />
        </MudStack>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
