@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MudBlazor
@inherits LayoutComponentBase

@inject ProtectedLocalStorage store

@* Required *@
<MudThemeProvider @bind-IsDarkMode="_isDarkMode"/>

@code {
    private bool defaultDarkMode = true;
    public bool _isDarkMode { get; set; } = true;

    public bool _drawerOpen = true;

    protected override void OnInitialized()
    {
        _isDarkMode = defaultDarkMode;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var userThemeModeRes = await store.GetAsync<bool>("isDarkMode");

        if (!userThemeModeRes.Success)
        {
            await store.SetAsync("isDarkMode", defaultDarkMode);
            _isDarkMode = defaultDarkMode;
        }
        else
        {
            _isDarkMode = userThemeModeRes.Value;
        }
        StateHasChanged();
    }
    public async Task<bool> FlipThemeMode(){
        Console.WriteLine("FlipFlop!");
        //_isDarkMode ^= true;
        //await store.SetAsync("isDarkMode", _isDarkMode);
        //StateHasChanged();
        return _isDarkMode;
    }
}

<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar Color="Color.Primary" Style="p-10">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.MoreVert" Edge="Edge.Start"/>
        <MudSpacer />
        <TemplatesSearchBar />
        <MudSpacer />
        <a href="/">
            <MudText Typo="Typo.h6">WoasForms</MudText>
        </a>
    </MudAppBar>

    <MudDrawer id="nav-drawer" Elevation="2" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always">
        <MudContainer Class="justify-center gap-4 p-1 m-1">
            <AccountDrawerButtons />
            <MudToggleIconButton @bind-Toggled="_isDarkMode" ToggledIcon="@Icons.Material.Filled.DarkMode" Icon="@Icons.Material.Outlined.LightMode"/>
            <!-- 
                MudToggleIconButton can't do anything because the MainLayout is static and Theme Provider can't update without interactivity
            -->
            @* <MudStaticSwitch Size="Size.Medium" ThumbIcon="@Icons.Material.Outlined.DarkMode">Dark Mode (TBD)</MudStaticSwitch>        *@
        </MudContainer>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
