<a href="@($"/SearchTemplate?topic={TopicText}")" style="vertical-align: middle; font-size: clamp(8px, 20cqw, 42px);">@TopicText</a>

@code {
    [Parameter, EditorRequired]
    required public string TopicText { get; set; } = "";
}
